{# héritage de vue #}
{% extends 'base.html.twig' %}

{% block title %} Liste des entreprises {% endblock %}

{% block body %}
    <h1> Détail d'une entreprise </h1>
    <h2> {{ entreprise }} </h2>

    <p>
        Adresse: {{ entreprise.adressecomplete }} <br>
        Date de créaction: {{ entreprise.dateCreation | date('d.m.Y') }} <br>
    </p>

    <h3> Listes des salariés </h3>

    {% if entreprise.employes | length > 0 %}

        {% for employe in entreprise.employes %}
            <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href=" {{ path('show_employe', {'id':employe.id })}}"> {{ employe }} </a> <br>
        {% endfor %}
    {% else %}
        <p> Aucun salarié dans cette entreprise </p>
    {% endif %}


{% endblock %}
